
body{
    padding: 0;
    background-color: #252222ce;
}


form {
    border: 0;
    background: none;
    display: block;
    margin: 12px auto;
    text-align: center;
    border:dotted 2px #8b8989;
    padding: 12px 35px;
    outline: none;
    display: flex;
    color: white;
    border-top-left-radius: 24px;
    border-end-end-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
;

}

#form{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top-left-radius: 30px;
    border-end-end-radius: 30px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #7a7878;
    background-color: #2b2a2ace;
    box-shadow: 7px 8px 0px 0px rgb(62, 61, 61);
    padding: 2px 10px;

}

input[type="text"],
input[type="password"],
textarea {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;

}

input[type="submit"] {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px ;
}

input[type="submit"]:hover {
    
    background-color: #45a049;
}